/* You can add global styles to this file, and also import other style files */
html{
 background-image: url('http://4usky.com/download/164294538.html');
    background-repeat: no-repeat;
     background-position: bottom
   
}